:root {
    --primary-text-color: #252B42;
    --accent-text-color: #737373;
    --accent-darker-text-color: #525252;
    --orange-color: #FF7B47;
    --green-color: #0D5C63;
}

*,*::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    font-family: Montserrat;
    color: var(--primary-text-color);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea {font-family: inherit;}

input::-ms-clear{display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    display: flex;
}

.__container {
    max-width: 1046px;
    margin: 0px auto;  /* выстраивает любой блочный элемент по центру */
    padding: 0px 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* header */
.header {
    position: absolute;
    width: 100%; /* 100% ширины*/
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-width: 479) {
    .header__container {
        min-height: 70px;
    }
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    color: inherit;
}

.header__menu {
    margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
    .header__menu{
    margin: 0px 0px 0px 80px;
    }
}

@media (max-width: 767px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}

.menu {
    padding: 5px 0px; /* отступы безопасности для адаптивной верстки */
}

.menu__list {
    flex-wrap: wrap;
    display: flex;
}

.menu__item {
    
}

.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}

.menu__link {
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    color: var(--accent-text-color);
}

@media (max-width: 479px) {
    .menu__link {
        color: var(--accent-darker-text-color);
    }
}

@media (max-width: 479) {
    .header__menu {
        font-size: 18px;
    }
}

/* Main */

.page {
    flex: 1 1 auto;
}

.page__main-block {}

.page__services {
    position: relative;
    margin: -111px 0px 0px 0px;
    z-index: 5;
}

    /* Main main-block */

.main-block {
    position: relative;
}

.main-block__container {}

.__container {}

.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px;
}

@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0px 191px 0px;
    }
}

.main-block__body > *:not(:last-child) { /* > * -  Обращение ко всем объектам первого уровня */
    margin: 0px 0px 35px 0px;
}

.main-block__title {
    font-weight: 800;
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    letter-spacing: 0.2px;
}

@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    color: var(--accent-text-color);
}

@media (max-width: 479px) {
    .main-block__text{
        color: var(--accent-darker-text-color);
    }
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block__button {
    min-height: 48px;
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: calc(28 / 14 * 100%);
    margin: 10px 0;
}

@media (max-width: 479px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}

.main-block__button:not(:last-child) {
    margin-right: 10px;
}


.main-block__button_orange {
    background: var(--orange-color);
    color: #fff;
}

.main-block__button_border {
    color: var(--green-color);
    border: 1px solid var(--green-color);
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width: 992px) {
    .main-block__image {
        opacity: 0.5;
    }
}

    /* Main services */



.services {}

.services__container {}

.services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.services__column {
    padding: 0px 15px;
    flex: 0 1 33.333%;
}

.services__item {
    min-width: 300pxs;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 35px;
    height: 100%;
}

.item-service {}

.item-service_green {
    background-color: var(--green-color);
}

.item-service_green .item-service__title {
    color: #fff;
}

.item-service_green .item-service__text {
    color: #fff;
}


.item-service__icon {}

.item-service__title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
    line-height: calc(32 / 24 * 100%);
    margin: 10px 0px;
}

.item-service__text {
    font-weight: 500;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0.2px;
    color: var(--accent-text-color);
    }



/* Footer */

